src/radiation/integrators/.DS_Store
.DS_Store
src/.DS_Store
src/bvals/.DS_Store
src/bvals/cc/.DS_Store
.DS_Store
src/cr/.DS_Store
src/hydro/.DS_Store
bin/
obj/
tst/regression/.DS_Store
tst/regression/scripts/tests/.DS_Store
tst/.DS_Store
configure.log
src/bvals/cc/radiation/.DS_Store
src/mesh/.DS_Store
src/task_list/.DS_Store
